.page {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 360px;
  padding: 25px;
  border-radius: 14px;
  background: white;
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.card input {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 10px;
  border: 1px solid #aaa;
  font-size: 16px;
}

.preview {
  margin-top: 18px;
}

.preview p {
  font-size: 20px;
  font-weight: bold;
  color: #0077ff;
}